@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap'); /* font-family: 'Roboto Flex', sans-serif;*/

@font-face {
    font-family: 'android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
* {
    margin: 0px;
    padding: 0px;
  }

body{
    background-color: #41d983cc;
    text-align: justify;
    }

h1, h2{
    font-family: android,   cursive;
    color: #083040;
    padding: 5px;
      }
    
h3{
    font-family: android, cursive;
    padding: 5px;
  }
    
p{
    font-family:'Roboto Flex', sans-serif;
    color: black;
    margin:  2px 2px 2px 2px;
padding:  2px 2px 2px 2px;
}
      
a{
    font-family:'Roboto Flex', sans-serif;
    text-decoration: underline;
    color: black; 
    font-weight: bold; 
 } 
   
picture{
    text-align: center;
    
       }   

header{
    padding: 20px;
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    background-color: #11593F;
    text-align: center;
      }

nav{ padding: 20px;
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    background-color: #083040;
    text-align: center;
    }   
  
nav > a {
    padding: 10px 5px;
    margin: 0px;
    text-align: center;
     color: #26dc99;
        }
        
nav > a:hover{
            background-color: black;
            color: white;
            text-decoration: underline;
            border: 1px solid black;
            box-shadow: 1px 1px 1px black;
            border-radius: 10px;
            
            
        }
main{
    padding: 20px;
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    background-color: #f2f2f2

    }
    main img {
        width: 100%;
    }
    main  p{
        text-indent: 27px;
    }
    
    div.video{
        background-color: #083040;
        margin-bottom: 30px;
        margin: 0px -20px;
        padding: 20px;
        position: relative;
        padding-bottom: 56.5%;
    }

    div.video > iframe{
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height:90%;

    }

    aside {
        background-color: #11593F;
      
        padding: 0px;
        margin: 0px;
        border-radius: 8px;
    }
aside > ul{
    list-style-position: inside;
    list-style-type: ' \2714\00A0\00A0\ ';
    columns: 2;
    padding: 7px;
    
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
      }
