@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html,body{
    min-height: 100vh;
    background-color: darkgrey;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    height: 10em;
    position: relative;

    
}
header > h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
   
    text-transform: uppercase;
}
header > p{
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
}
a{
    color: white;
    font-weight: bold;

}