@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html,body{
    min-height: 100vh;
    background-color: darkgrey;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    height: 10em;
    position: relative;

    
}
header > h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
   
    text-transform: uppercase;
}
header > p{
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
}
a{
    color: white;
    font-weight: bolder;
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 50px;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: red;
    color: black;

}
section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.673);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}