@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap');

@font-face {
    font-family:'cordelina' ;
    src: url(fontes/cordelina.otf) format(opentype);
}
@font-face {
    font-family:pshico ;
    src: url(fontes/PSYCHO.TTF) format(truetype)
}
@font-face {
    font-family: pagap;
    src: url(fontes/PAGAP___.TTF) format(truetype);
}


:root{
    --texto1:  'Caveat', cursive;
    --texto2: 'pshico',cursive;
    --texto3: 'pagap', cursive;
    --h1: 'cordelina', cursive
    
}


*{
    margin: 0px;
    padding: 0px;
}
html,body{
    min-height: 100vh;
    background-color: darkgrey;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    height: 10em;
    position: relative;
    font-family: var(--h1);4
    font-size: 10vh;

    
}
header > h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 10vh;
   
    text-transform: uppercase;
}
header > p{
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
}
a{
    color: white;
    font-weight: bolder;
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 50px;
    font-family:var(--texto2)
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: red;
    color: black;

}
section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.673);
    display: inline-block;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}